.red {
    background-color: rgb(149, 4, 4);
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    gap: 10px 30px;
}

.blue {
    width: 100px;
    height: 100px;
    background-color: blue;
}